## TYPE CONVERSION (CASTING)

Python defines type conversion functions to directly convert one data type to another which is useful in day-to-day and competitive programming.

There are two types of Type Conversion in Python:

1. Python Implicit Type Conversion
2. Python Explicit Type Conversion

### Implicit Type

In Implicit type conversion of data types in Python, the Python interpreter automatically converts one data type to another without any user involvement.

In [1]:
# implicit type conversion
x= 10
y= 10.6
z= "this is z"

In [2]:
# type result
print("x is of type:",type(x))
print("x is of type:",type(y))
print("x is of type:",type(z))

x is of type: <class 'int'>
x is of type: <class 'float'>
x is of type: <class 'str'>

### Explicit Type

In Explicit Type Conversion in Python, the data type is manually changed by the user as per their requirement. With explicit type conversion, there is a risk of data loss since we are forcing an expression to be changed in some specific data type.

Casting in python is therefore done using constructor functions:

1. int() - integer
2. float() - float
3. str() - string
4. list()
5. tuple()
6. set()
7. dict() - dictionary

In [13]:
# converting a float to an integer
float_num = 12.34
int_num = int(float_num)
int_num

12

In [5]:
# converting a string representing an integer to an integer
string_num = '123'
int_from_string = int(string_num)
int_from_string

123

In [6]:
# converting an integer to a float
integer_num = 123
float_from_int = float(integer_num)
float_from_int

123.0

In [7]:
# converting a string representing a float to a float
string_float = '123.45'
float_from_string = float(string_float)
float_from_string

123.45

In [11]:
# converting an integer to a string
integer_val = 456
string_from_int = str(integer_val)
string_from_int

'456'

In [12]:
# converting a list to a string
list_val = ["one","two","three"]
string_from_list = str(list_val)
string_from_list

"['one', 'two', 'three']"

In [1]:
# converting a string to a list
string_val = 'hello world'
list_from_string = list(string_val)
list_from_string

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [16]:
#converting a string to a list, without iterating the elements
string_val1, string_val2 = "hello", "world"
list_from_string1 = list([string_val1, string_val2])
list_from_string1

['hello', 'world']

In [15]:
# converting tuple to a list
tuple_val= (1,2,3,4,5)
list_from_tuple = list(tuple_val)
list_from_tuple

[1, 2, 3, 4, 5]

In [5]:
# converting a set to a list
set_val = {1,2,3,4,5}
list_from_set = list(set_val)
list_from_set

[1, 2, 3, 4, 5]

In [6]:
# converting a string to a tuple, without iterating the element
string_val1, string_val2 = "hello", "world"
tuple_from_string1 = tuple([string_val1, string_val2])
tuple_from_string1

('hello', 'world')

In [7]:
# converting a list with duplicate values to a set
list_with_duplicates = [1,2,2,3,4,4,5]
set_from_list = set(list_with_duplicates)
set_from_list

{1, 2, 3, 4, 5}

In [8]:
# converting a string to a set, without iterating the elements
string_val1, string_val2 = "hello", "world"
set_from_string1 = set([string_val1, string_val2])
set_from_string1

{'hello', 'world'}

In [10]:
# converting a list of tuples to a dictionary
list_of_tuples = [('a',1),('b',2),('c',3)]
dict_from_list = dict(list_of_tuples)
dict_from_list

{'a': 1, 'b': 2, 'c': 3}

In [12]:
# converting a set of key value pairs to a dictionary
set_of_pairs = {('d',4),('e',5),('f',6)}
dict_from_set = dict(set_of_pairs)
dict_from_set

{'f': 6, 'e': 5, 'd': 4}

In [13]:
# converting two list (one for keys and one for values) to a dictionary using zip
keys = ['g', 'h', 'i']
values = [7,8,9]
dict_from_zip = dict(zip(keys, values))
dict_from_zip

{'g': 7, 'h': 8, 'i': 9}

## REFERENCE
1. https://www.geeksforgeeks.org/type-conversion-in-python/
2. https://www.w3schools.com/python/python_casting.asp
3. https://www.pythontutorial.net/python-basics/python-type-conversion/