In [ ]:
# Import libraries
import pandas as pd
import numpy as np

# Membuat DataFrame dengan 40 mahasiswa
data = {
    'Nama Mahasiswa': [f'Mahasiswa-{i+1}' for i in range(40)],
    'Tugas': np.random.normal(85, 7, 40), # np.random.normal(mean, var, n)
    'UTS': np.random.normal(60, 15, 40),
    'UAS': np.random.normal(75, 10, 40)
}

# Menyimpan dalam Data Frame
df = pd.DataFrame(data)

# Menghitung Nilai Akhir dengan rumus yang disediakan
df['Nilai Akhir'] = 0.2 * df['Tugas'] + 0.4 * df['UTS'] + 0.4 * df['UAS']

# Membuat kolom baru binning dengan kriteria berikut:
bins = [0, 20, 50, 55, 60, 65, 70, 75, 80, 85, 100]
labels = ['E', 'D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A']
df['Predikat'] = pd.cut(df['Nilai Akhir'], bins=bins, labels=labels, include_lowest=True)

# Menampilkan DataFrame
print(df)

   Nama Mahasiswa       Tugas        UTS        UAS  Nilai Akhir predikat
0     Mahasiswa-1   90.298920  54.963230  82.216721    72.931764       B-
1     Mahasiswa-2   78.544843  85.035323  63.709482    75.206891        B
2     Mahasiswa-3   91.087241  56.106130  69.754797    68.561819       C+
3     Mahasiswa-4   94.489465  37.452856  79.893746    65.836534       C+
4     Mahasiswa-5   87.894044  56.313854  62.778722    65.215839       C+
5     Mahasiswa-6   98.137571  55.909146  82.129984    74.843166       B-
6     Mahasiswa-7   79.583476  19.546700  72.596746    52.774074       D+
7     Mahasiswa-8   76.287417  59.185577  71.251792    67.432431       C+
8     Mahasiswa-9   72.548958  56.535982  82.109600    69.968024       C+
9    Mahasiswa-10   95.472310  70.443095  79.442633    79.048753        B
10   Mahasiswa-11   89.580560  87.734341  71.390338    81.565984       B+
11   Mahasiswa-12   84.610907  76.898475  86.593298    82.318891       B+
12   Mahasiswa-13   86.959780  55.966670  64.189367    65.454371       C+
13   Mahasiswa-14   77.121577  43.402111  81.159356    65.248902       C+
14   Mahasiswa-15  102.120264  98.600397  80.931013    92.236617        A
15   Mahasiswa-16   85.904548  60.888277  71.904536    70.298035       B-
16   Mahasiswa-17   85.765764  60.208939  78.261330    72.541261       B-
17   Mahasiswa-18   90.080366  59.638124  62.488864    66.866868       C+
18   Mahasiswa-19   88.367065  62.971271  84.240270    76.558030        B
19   Mahasiswa-20   86.567188  57.834594  73.150979    69.707667       C+
20   Mahasiswa-21   79.466679  51.395070  69.772770    64.360472        C
21   Mahasiswa-22   88.300278  51.797116  85.490092    72.574939       B-
22   Mahasiswa-23   98.174171  59.508701  67.956563    70.620940       B-
23   Mahasiswa-24   94.417940  51.848628  60.915387    63.989194        C
24   Mahasiswa-25   96.152306  49.307313  59.433708    62.726870        C
25   Mahasiswa-26   81.421490  61.596453  81.060100    73.346919       B-
26   Mahasiswa-27   78.072766  56.175342  62.195706    62.962973        C
27   Mahasiswa-28   84.119492  82.559895  92.547942    86.867033        A
28   Mahasiswa-29   85.390074  20.235453  54.180706    46.844478        D
29   Mahasiswa-30   92.659341  76.372603  91.964564    85.866735        A
30   Mahasiswa-31   73.152748  78.691278  77.110175    76.951131        B
31   Mahasiswa-32   95.706852  28.899147  74.032869    60.314177        C
32   Mahasiswa-33   83.893945  54.859686  69.550809    66.542987       C+
33   Mahasiswa-34   82.011833  54.428387  78.991361    69.770266       C+
34   Mahasiswa-35   77.915269  38.887325  74.623653    60.987445        C
35   Mahasiswa-36   73.416003  48.332750  86.033019    68.429508       C+
36   Mahasiswa-37   90.762194  43.341362  76.142276    65.945894       C+
37   Mahasiswa-38   85.513226  86.284057  76.503018    82.217475       B+
38   Mahasiswa-39   75.970274  74.035176  71.363878    73.353676       B-
39   Mahasiswa-40   75.934449  79.073326  74.430544    76.588438        B